header {
    background-color: #ffffff !important;
}


.due-cerchi>* {
    width: 50px;
    height: 50px;
    background-color: #F5F4F8;
    border-radius: 50%;
    border: 1px solid black;
}

#hero button:first-of-type {
    background-color: #1ACB98;
    border: none;
}

#hero button:last-of-type {
    background-color: #FFFFFF;
    border: none;
    color: black;
}

#hero {
    background-color: #7550FE;
}

#hero h2 {
    color: #FFFFFF;
}

#hero p {
    color: #b6b5b5;
}

#icon-hero i {
    font-size: 20px;
    position: absolute;
    top: 7px;
    left: 15px;

}

.iconcina {
    width: 320px;
    height: auto;
}

.icon-hero {
    width: 50px;
    height: 50px;
    background-color: #FFEEDA;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.carousel-control-prev {
    padding-right: 100px;
}

.carousel-control-next {
    padding-left: 100px;
}

#carousel {
    background-color: #F5F4F8;
    padding-top: 50px;
}

.margine-fondo {
    margin-top: 10px;
}

#carousel h3 {
    margin-bottom: 50px;
}

footer {
    background-color: #F5F4F8;
    color: rgb(178, 177, 177);
}

footer .container {
    border-top: 1px solid rgb(229, 228, 228);
}

@media screen and (max-width:768px) {
    footer .container {
        border-top: none;
    }

    .footer-flex {
        display: flex;
        justify-content: center;
    }

    .footer-flex:last-child {
        justify-content: center !important;
    }
}

.stelle-voto{
    font-size: 15px;
    color:gold;
}

.punteggio-voto p:first-child{
    color:gold;
}

.punteggio-voto p:last-child{
    color:rgb(178, 177, 177);
}

.prezzo p:first-child{
    font-weight: bold;
}

.prezzo p:last-child{
    color:rgb(178, 177, 177);
}

.utente img{
    width:30px;
    height:30px;
    border-radius: 50%;
}

.utente{
    border-top: 1px solid rgb(237, 235, 235);
}

#carousel .card{
    height:450px;
}

#carousel .card:last-of-type{
    margin-bottom:50px; 
}