header{
    background-color: #ffffff !important;
}

.due-cerchi>*{
    width: 50px;
    height: 50px;
    background-color: #F5F4F8;
    border-radius: 50%;
    border: 1px solid black;
}
